/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    
}
body a{
    text-decoration: none;
    background-color: #E02C6D;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}



/* Start Journey Styles */
.half-width{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
.main-camera{
    background-image: url(images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 414px;
    width: 440px;



    
}
.text-box{
     
    height: 270px;
    width: 582px;
    
    border-radius: 41px;
    margin-right: 133px;


}

/* Brand section styles  */

hr{
    border: 1px solid rgb(240, 230, 230);
    margin-bottom: 27px;
}
.brand-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.brands{
    margin: 30px;   
}


/* Collection section style  */
.collection-heading{
    text-align: center;
}
.collection-div{
    display: flex;
    justify-content: center;
    
}
.collection-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.collection-item{
    border: 30px solid white;
    background-color: rgba(247, 241, 232, 0.486);
    padding: 15px;
}
.item-details p{
    font-weight: 10;
    font-size: 14px;
}
#see-more-button{
    background-color: white;
    color: #E02C6DDE;
    position: relative;
    left: 75%;
}



/* Footer Styles  */
.footer{
    background-color: #0A0826;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.footer h2,h3,p{
    color: white;
    text-align: center;
}
.footer p{
    font-size: 35px;
}

